<div id="sobremi" class="bg-seccion position-relative">
    <app-titulo [titulo]="'About me'"></app-titulo>
    <div *ngIf="!loading" class="seccion-container">
        <div class="d-flex p-5 flex-column justify-content-center align-items-center position-relative">
            <div class="btn-group" *ngIf="isAdmin" style="height: 35px; position: absolute; left: 70%; top: 20%;" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-sm btn-link" data-bs-toggle="modal" [attr.data-bs-target]="'#per-modal'"><i class="fa fa-pencil"></i></button>
            </div>
            <div *ngIf="(personaData.imagen !== null && personaData.imagen.length > 0); else userIcon" class="my-3 d-flex justify-content-center align-items-center">
                <img #userImg style="width: 10rem; border-radius: 5rem;" src="{{personaData.imagen}}">
            </div>
            <ng-template #userIcon>
                <i class="fa fa-user fa-5x"></i>
            </ng-template>
        </div>
        <div class="ms-3 w-100">
            <div class="w-100">
                <app-sobremi [isAdmin]="isAdmin"></app-sobremi>
            </div>
        </div>
    </div>
    <app-loading [forceDisplay]="this.loading"></app-loading>
</div>
<div class="modal fade" [attr.id]="'per-modal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit profile photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-loading [forceDisplay]="true"></app-loading>
                <form [formGroup]="form" id="per-f-nuevo" class="m-5 px-5" (ngSubmit)="onEnviar($event)" #f="ngForm">
                    <div class="mb-3">
                        <label for="nombre" class="form-label"><i class="fa fa-pencil"></i> Name</label>
                        <input type="text" [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 'is-valid': !Nombre?.errors && Nombre?.touched}" [(ngModel)]="personaData.nombre" formControlName="nombre" class="form-control" id="nombre">
                        <div *ngIf="Nombre?.errors && Nombre?.touched" class="text-danger">
                            <p *ngIf="Nombre?.hasError('required')">
                                <small>Name is a required field.</small>
                            </p>
                            <p *ngIf="Nombre?.errors?.['minlength']">
                                <small>Name must have at least 3 characters.</small>
                            </p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label"><i class="fa fa-pencil"></i> Lastname</label>
                        <input type="text" [ngClass]="{'is-invalid': Apellido?.errors && Apellido?.touched, 'is-valid': !Apellido?.errors && Apellido?.touched}" [(ngModel)]="personaData.apellido" formControlName="apellido" class="form-control" id="apellido">
                        <div *ngIf="Apellido?.errors && Apellido?.touched" class="text-danger">
                            <p *ngIf="Apellido?.hasError('required')">
                                <small>Lastname is a required field.</small>
                            </p>
                            <p *ngIf="Apellido?.errors?.['minlength']">
                                <small>Lastname must have at least 3 characters.</small>
                            </p>
                        </div>
                    </div>
                    <div class="collapse" id="collExtraData">
                        <div class="mb-3">
                            <label for="imagen" class="form-label"><i class="fa fa-pencil"></i> Photo</label>
                            <input type="text" [ngClass]="{'is-invalid': Imagen?.errors && Imagen?.touched, 'is-valid': !Imagen?.errors && Imagen?.touched}" [(ngModel)]="personaData.imagen" formControlName="imagen" class="form-control" id="imagen">
                            <div *ngIf="Imagen?.errors && Imagen?.touched" class="text-danger">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="form-label"><i class="fa fa-pencil"></i> Social media</label>
                            <!-- Twitter -->
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa-brands fa-twitter me-2"></i>
                                <input type="text" [ngClass]="{'is-invalid': Twitter?.errors && Twitter?.touched, 'is-valid': !Twitter?.errors && Twitter?.touched}" [(ngModel)]="personaData.twitter" formControlName="twitter" class="form-control" id="twitter">
                                <div *ngIf="Twitter?.errors && Twitter?.touched" class="text-danger">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <!-- Facebook -->
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa-brands fa-facebook-f me-2"></i>
                                <input type="text" [ngClass]="{'is-invalid': Facebook?.errors && Facebook?.touched, 'is-valid': !Facebook?.errors && Facebook?.touched}" [(ngModel)]="personaData.facebook" formControlName="facebook" class="form-control" id="facebook">
                                <div *ngIf="Facebook?.errors && Facebook?.touched" class="text-danger">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <!-- Instagram -->
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa-brands fa-instagram me-2"></i>
                                <input type="text" [ngClass]="{'is-invalid': Instagram?.errors && Instagram?.touched, 'is-valid': !Instagram?.errors && Instagram?.touched}" [(ngModel)]="personaData.instagram" formControlName="instagram" class="form-control" id="instagram">
                                <div *ngIf="Instagram?.errors && Instagram?.touched" class="text-danger">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <!-- Cafecito -->
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa-solid fa-mug-saucer me-2"></i>
                                <input type="text" [ngClass]="{'is-invalid': Cafecito?.errors && Cafecito?.touched, 'is-valid': !Cafecito?.errors && Cafecito?.touched}" [(ngModel)]="personaData.cafecito" formControlName="cafecito" class="form-control" id="cafecito">
                                <div *ngIf="Cafecito?.errors && Cafecito?.touched" class="text-danger">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label"><i class="fa fa-pencil"></i> Email</label>
                            <input type="text" [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}" [(ngModel)]="personaData.email" formControlName="email" class="form-control" id="email">
                            <div *ngIf="Email?.errors && Email?.touched" class="text-danger">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label"><i class="fa fa-pencil"></i> Phone number</label>
                            <input type="text" [ngClass]="{'is-invalid': Telefono?.errors && Telefono?.touched, 'is-valid': !Telefono?.errors && Telefono?.touched}" [(ngModel)]="personaData.telefono" formControlName="telefono" class="form-control" id="telefono">
                            <div *ngIf="Telefono?.errors && Telefono?.touched" class="text-danger">
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-center" *ngIf="this.completarPerfil">
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" (click)="this.completarPerfil = false" data-bs-target="#collExtraData" aria-expanded="true" aria-controls="collExtraData">
                              Cancel
                            </button>
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center" *ngIf="!this.completarPerfil">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" (click)="this.completarPerfil = true" data-bs-target="#collExtraData" aria-expanded="false" aria-controls="collExtraData">
                          Complete profile
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="f.ngSubmit.emit($event)" [disabled]="!f.valid">Save</button>
            </div>
        </div>
    </div>
</div>
