<div id="sobremi" class="my-5 bg-seccion position-relative">
    <app-titulo [titulo]="'Sobre Mi'"></app-titulo>
    <div class="d-flex align-items-center w-100 p-5">
        <div class="d-flex p-5 flex-column justify-content-center align-items-center">
            <div *ngIf="(personaData.imagen !== null); else userIcon" class="my-3 d-flex justify-content-center align-items-center">
                <img #userImg src="{{personaData.imagen}}">
            </div>
            <ng-template #userIcon>
                <i class="fa fa-user fa-5x"></i>
            </ng-template>

            <div class="fw-bold text-wrap">
                <span id="apellido">{{personaData.apellido}}</span>, <span id="nombre">{{personaData.nombre}}</span>
            </div>
        </div>
        <div class="ms-3 w-100">
            <h5 class="text-muted text-uppercase fw-bold text-wrap">
                #Autodidacta
            </h5>
            <div class="w-100">
                <app-sobremi></app-sobremi>
            </div>
        </div>
    </div>
</div>
