<div *ngFor="let aptitud of asset | keyvalue" class="">
    <div class="d-flex my-2">
        <button type="button" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i></button>
        <div class="my-1 mx-2 d-flex align-items-center fw-bold">
            <div class="d-flex justify-content-center align-items-center me-2" style="width: 35px; height: 35px;">
                <i class="fa fa-{{aptitud.key}} fa-2x"></i>
            </div>
            <span class="text-uppercase text-break">
          {{aptitud.value}}
        </span>
        </div>
    </div>
</div>