<div id="sobremi" class="my-5 bg-seccion position-relative">
    <app-titulo [titulo]="'Sobre Mi'"></app-titulo>
    <div class="d-flex align-items-center w-100 p-5">
        <div class="d-flex p-5 flex-column justify-content-center align-items-center">
            <i class="fa fa-user fa-5x"></i>
            <div class="fw-bold text-wrap">
                Mariano Campos
            </div>
        </div>
        <div class="ms-3 flex-grow-1">
            <h5 class="text-muted text-uppercase fw-bold text-wrap">
                #Autodidacta
            </h5>
            <div class="d-flex flex-wrap align-items-start justify-content-evenly">
                <div *ngFor="let aptitud of asset | keyvalue" class="my-1 mx-2 d-flex align-items-center fw-bold">
                    <div class="d-flex justify-content-center align-items-center me-2" style="width: 35px; height: 35px;">
                        <i class="fa fa-{{aptitud.key}} fa-2x"></i>
                    </div>
                    <span class="text-uppercase text-break">
                        {{aptitud.value}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>