*[contenteditable="true"] {
    background-color: #FFF;
    color: var(--text-color);
    padding: 0.3rem;
    border-radius: 0.1rem;
    transition-duration: .5s;
}

*[contenteditable="true"]::before {
    font-family: FontAwesome;
    content: "\f14b";
    color: lightgray;
    margin-right: 0.25rem;
    font-size: 0.75rem;
}

.btn.delete {
    position: absolute;
    right: 1rem;
    top: .5rem;
}

small.label {
    margin-top: 1rem;
}

.card {
    border: none;
    border-bottom: 1.75px solid var(--linea-naranja);
    border-radius: 0;
    margin-bottom: 3rem !important;
    background-color: var(--bg-seccion) !important;
}