<div class="card w-100 mb-2">
    <button type="button" class="btn btn-danger delete" *ngIf="isAdmin" [ngClass]="{'d-none': this.contentEditable === false}" (click)="this.eliminar.emit();"><i class="fa fa-trash"></i></button>
    <div class="d-flex align-items-center">
        <div class="d-flex justify-content-end" style="height: 50px;">
            <div class="btn-group" role="group" aria-label="Basic example" *ngIf="isAdmin">
                <button type="button" class="btn " [ngClass]="{'btn-link': this.contentEditable === false, 'btn-primary': contentEditable === true}" (click)="check()">
                  <i class="fa " [ngClass]="{'fa-pencil': this.contentEditable === false, 'fa-floppy-o': this.contentEditable === true}"></i>
                  <app-loading *ngIf="this.contentEditable" [forceDisplay]="true"></app-loading>
                </button>
                <div class="btn-group" role="group" aria-label="Basic example" *ngIf="this.contentEditable === true">
                    <button type="button" class="btn btn-danger" (click)="descartar()"><i class="fa fa-times-circle"></i></button>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column">
            <div id="logoContainer " class="my-2 mx-3">
                <i class="fa {{this.logo}} fa-5x"></i>
            </div>
            <div class="d-flex flex-column" [ngClass]="{'d-none': this.contentEditable === false}">
                <small class="text-muted label">Icon</small>
                <span class="label" id="exp-logo" [contentEditable]="this.contentEditable">{{this.logo}}</span>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex flex-column">
                <small class="text-muted label" [ngClass]="{'d-none': this.contentEditable === false}">Period</small>
                <small class="mb-2">[<span id="exp-periodo" [contentEditable]="this.contentEditable">{{periodo}}</span>]</small>
                <small class="text-muted label" [ngClass]="{'d-none': this.contentEditable === false}">Title</small>
                <h5 class="card-title">
                    <p><span id="exp-titulo" [contentEditable]="this.contentEditable">{{titulo}}</span></p>
                </h5>
            </div>
            <small class="text-muted label" [ngClass]="{'d-none': this.contentEditable === false}">Description</small>
            <p class="card-text" id="exp-descripcion" [contentEditable]="this.contentEditable" [innerHTML]="descripcion"></p>
        </div>
    </div>
</div>
