<div class="card w-100 mb-2">
    <button type="button " class="btn btn-danger delete" [ngClass]="{'d-none': this.contentEditable === false}" (click)="this.eliminar.emit();"><i class="fa fa-trash"></i></button>
    <i class="fa fa-suitcase fa-5x my-2 mx-3"></i>
    <div class="card-body">
        <div class="d-flex flex-column">
            <small class="text-muted label" [ngClass]="{'d-none': this.contentEditable === false}">Período</small>
            <small class="mb-2" [contentEditable]="this.contentEditable">[{{periodo}}]</small>
            <small class="text-muted label" [ngClass]="{'d-none': this.contentEditable === false}">Título</small>
            <h5 class="card-title" [contentEditable]="this.contentEditable">
                <span>#{{id}} {{titulo}}</span>
            </h5>
        </div>
        <small class="text-muted label" [ngClass]="{'d-none': this.contentEditable === false}">Descripción</small>
        <p class="card-text" [contentEditable]="this.contentEditable">{{descripcion}}</p>
        <div class="w-100 d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn " [ngClass]="{'btn-primary': this.contentEditable === false, 'btn-outline-primary': contentEditable === true}" (click)="editar()">
                <i class="fa " [ngClass]="{'fa-pencil': this.contentEditable === false, 'fa-floppy-o': this.contentEditable === true}"></i>
              </button>
                <div class="btn-group" role="group" aria-label="Basic example" *ngIf="this.contentEditable === true">
                    <button type="button" class="btn btn-outline-danger" (click)="descartar()"><i class="fa fa-times-circle"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>