.btn.delete {
    position: absolute;
    right: 1rem;
    top: .5rem;
}

small.label {
    margin-top: 1rem;
}

.card {
    border: none;
    border-bottom: 1.75px solid var(--linea-naranja);
    border-radius: 0;
    margin-bottom: 3rem !important;
    background-color: var(--bg-seccion) !important;
}