<div id="proyecto" class="bg-seccion position-relative">
    <app-titulo [titulo]="'My projects'"></app-titulo>

    <div *ngIf="!loading">
        <div class="p-5 d-flex justify-content-evenly flex-wrap">
            <app-proyecto-card *ngFor="let proyecto of proyectoData" [isAdmin]="isAdmin" [titulo]="proyecto.titulo" [id]="proyecto.id" [imagen]="proyecto.imagen" [descripcion]="proyecto.descripcion" [url_deploy]="proyecto.url_deploy" [url_git]="proyecto.url_git"
                (eliminar)="eliminarProyecto(proyecto.id)" [guardar]="editarProyecto"></app-proyecto-card>
        </div>
        <div *ngIf="isAdmin" class="d-flex justify-content-center align-items-center my-3">
            <button type="button" class="btn btn-primary rounded-circle" data-bs-toggle="modal" data-bs-target="#nuevoProyectoModal"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <app-loading [forceDisplay]="loading"></app-loading>
</div>

<div class="modal fade" id="nuevoProyectoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-loading [forceDisplay]="loading"></app-loading>
                <form [formGroup]="form" id="proy-f-nuevo" class="m-5 px-5" (ngSubmit)="onEnviar($event)" #f="ngForm">
                    <div class="mb-3">
                        <label for="titulo" class="form-label"><i class="fa fa-pencil"></i> Title</label>
                        <input type="text" [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 'is-valid': !Titulo?.errors && Titulo?.touched}" formControlName="titulo" class="form-control" id="titulo">
                        <div *ngIf="Titulo?.errors && Titulo?.touched" class="text-danger">
                            <p *ngIf="Titulo?.hasError('required')">
                                <small>Title is a required field.</small>
                            </p>
                            <p *ngIf="Titulo?.errors?.['minlength']">
                                <small>Title must have at least 8 characters.</small>
                            </p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="imagen" class="form-label"><i class="fa fa-pencil"></i> Image</label>
                        <input type="text" [ngClass]="{'is-invalid': Imagen?.errors && Imagen?.touched, 'is-valid': !Imagen?.errors && Imagen?.touched}" formControlName="imagen" class="form-control" id="imagen">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label"><i class="fa fa-pencil"></i> Description</label>
                        <textarea [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 'is-valid': !Descripcion?.errors && Descripcion?.touched}" formControlName="descripcion" class="form-control" id="descripcion"></textarea>
                        <div *ngIf="Descripcion?.errors && Descripcion?.touched" class="text-danger">
                            <p *ngIf="Descripcion?.hasError('required')">
                                <small>Description is a required field.</small>
                            </p>
                            <p *ngIf="Descripcion?.errors?.['minlength']">
                                <small>Description must have at least 8 characters.</small>
                            </p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="url_git" class="form-label"><i class="fa fa-pencil"></i> Git repository</label>
                        <input type="text" [ngClass]="{'is-invalid': Git?.errors && Git?.touched, 'is-valid': !Git?.errors && Git?.touched}" formControlName="url_git" class="form-control" id="url_git">
                    </div>

                    <div class="mb-3">
                        <label for="url_deploy" class="form-label"><i class="fa fa-pencil"></i> Url deploy</label>
                        <input type="text" [ngClass]="{'is-invalid': Deploy?.errors && Deploy?.touched, 'is-valid': !Deploy?.errors && Deploy?.touched}" formControlName="url_deploy" class="form-control" id="url_deploy">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="f.ngSubmit.emit($event)" [disabled]="!f.valid">Save</button>
            </div>
        </div>
    </div>
</div>
