<div id="experiencias" class="my-5 bg-seccion position-relative">
    <app-titulo [titulo]="'Experiencias laborales'"></app-titulo>
    <div id="experiencia" class="p-5" *ngFor="let experiencia of experienciaData">
        <app-card [id]="experiencia.id" [titulo]="experiencia.titulo" [descripcion]="experiencia.descripcion" [periodo]="experiencia.periodo" [logo]="experiencia.logo" (eliminar)="eliminarExperiencia(experiencia.id)" [editar]="editarContenido" [guardar]="editarExperiencia"
            [descartar]="descartarEditarContenido"></app-card>
    </div>
    <div *ngIf="!nuevaExperiencia; else nuevaExperienciaContenedor" class="my-3 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-link" (click)="cargarNuevaExperiencia()">
          <i class="fa fa-plus"></i> Agregar experiencia laboral
        </button>
    </div>
    <ng-template #nuevaExperienciaContenedor>
        <app-nueva-experiencia (cancelar)="cancelarCargarNuevaExperiencia()" (fetch)="fetchExperiencias()"></app-nueva-experiencia>
    </ng-template>
</div>