<div id="experiencias" class="my-5 bg-seccion position-relative">
    <app-titulo [titulo]="'Experiencias laborales'"></app-titulo>
    <div id="experiencia" class="p-5" *ngFor="let experiencia of experienciaData">
        <app-card [id]="experiencia.id" [titulo]="experiencia.titulo" [descripcion]="experiencia.descripcion" [periodo]="experiencia.periodo" (eliminar)="eliminarExperiencia(experiencia.id)" [editar]="editarContenido" [descartar]="descartarEditarContenido"></app-card>
    </div>
    <div *ngIf="nuevaExperiencia === false" class="my-3 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary" [routerLink]="['/portfolio/experiencia/nueva']" fragment="nueva-experiencia">
        <i class="fa fa-plus"></i> Agregar experiencia laboral
      </button>
    </div>
</div>