/* You can add global styles to this file, and also import other style files */

:root {
    --bg-portfolio: #F05D23;
    --text-color: #0E0F13;
    --rgb-text-color-titulo: 240, 93, 35, .1;
    --bg-banner: #0b0e17;
    --bg-seccion: #2E313C;
    --text-seccion: #CCCCCC;
}

.bg-seccion {
    background-color: var(--bg-seccion) !important;
    color: var(--text-seccion) !important;
}