/* You can add global styles to this file, and also import other style files */

:root {
    --bg-portfolio: #F05D23;
    --text-color: #0E0F13;
    --rgb-text-color-titulo: 240, 93, 35, .1;
    --bg-banner: #0b0e17;
    --bg-seccion: #2E313C;
    --text-seccion: #CCCCCC;
    --titulo-seccion: #F05D23;
    --linea-naranja: #F05D23;
    --primario: #CCCCCC;
    --primario-hover: #F05D23;
}

body {
    scroll-behavior: smooth;
    background-color: var(--bg-seccion) !important;
}

*[contenteditable="true"] {
    background-color: #FFF;
    color: var(--text-color);
    display: block;
    padding: 0.3rem;
    border-radius: 0.1rem;
    min-width: 100px;
    width: 100%;
    transition-duration: .5s;
}

*[contenteditable="true"]::before {
    font-family: FontAwesome;
    content: "\f14b";
    color: lightgray;
    margin-right: 0.25rem;
    font-size: 0.75rem;
}

.btn-link {
    color: var(--primario) !important
}

.btn-link:hover {
    color: var(--primario-hover) !important;
}

.text-seccion {
    color: var(--titulo-seccion);
}

.bg-seccion {
    background-color: var(--bg-seccion) !important;
    color: var(--text-seccion) !important;
    margin-top: 10rem;
}

.modal-content {
    background-color: var(--bg-seccion) !important;
    color: var(--text-seccion) !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}
